.containerZ {
    width: 80%;
    margin: 0 auto;
}


::ng-deep {
    app-questionnaires .fuse-mat-button-large {
        min-height: 70px !important;
        width: 150px !important;
    }
}

.steps-area .steps {
    top: 110px;
    z-index: 9;
    right: 80px;
    position: absolute;
}

.steps-area {
    float: left;
    width: 30%;
    overflow: hidden;
    max-width: 500px;
}

.steps-area-fixed .multisteps-form__progress {
    padding-top: 0;
}

.multisteps-form__progress {
    padding-top: 60px;
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

.steps-area .steps li {
    margin-bottom: 85px;
    position: relative;
}

.steps-area-fixed {
    position: fixed;
    width: 25% !important;
}

.multisteps-form__progress-btn.js-active {
    color: #fff;
}



.borderTable {
    border: 0.5px solid #bcbdbd;
}


.steps-area .steps li.js-active:before {
    content: "";
    top: -8px;
    left: -8px;
    width: 55px;
    height: 55px;
    position: absolute;
    border-radius: 100%;
    border: 2px solid #6b59d3;
}

.steps-area .steps li:before {
    content: "";
    top: -8px;
    left: -8px;
    width: 55px;
    height: 55px;
    position: absolute;
    border-radius: 100%;
    border: 2px solid #6b59d300;
    z-index: 3;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.multisteps-form__progress-btn.js-active {
    color: #fff;
}

.multisteps-form__progress-btn {
    position: relative;
    color: rgba(255, 255, 255, 0.7);
    border: none;
    background-color: transparent;
    outline: none !important;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    z-index: 1;
}

.multisteps-form__progress-btn {
    position: relative;
    color: rgba(255, 255, 255, 0.7);
    border: none;
    background-color: transparent;
    outline: none !important;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    z-index: 1;
}

.steps-area {
    float: left;
    width: 30%;
    overflow: hidden;
    max-width: 500px;
}

.multisteps-form__progress-btn.js-active {
    color: #fff;
}

.steps-area-fixed .multisteps-form__progress {
    padding-top: 0;
}

.steps-area .steps li.js-active:before {
    content: "";
    top: -8px;
    left: -8px;
    width: 55px;
    height: 55px;
    position: absolute;
    border-radius: 100%;
    border: 2px solid #6b59d3;
}

.steps-area .steps li:before {
    content: "";
    top: -8px;
    left: -8px;
    width: 55px;
    height: 55px;
    position: absolute;
    border-radius: 100%;
    border: 2px solid #6b59d300;
    z-index: 3;
}

.steps-area .steps li span:before {
    content: "";
    width: 2px;
    height: 95px;
    background: #b8b9b9;
    position: absolute;
    right: 18px;
    top: 40px;
}



.steps-area .steps li span {
    width: 40px;
    color: #fff;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    border-radius: 50%;
    background: #bcbdbd;
    position: relative;
    text-align: center;
    display: inline-block;
    z-index: -1;
}

.steps-area .steps li span:after {
    content: "";
    width: 2px;
    height: 0;
    background: #6b59d3;
    position: absolute;
    right: 18px;
    top: 40px;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.steps-area .steps li.current span:after {
    height: 50px;
}

.steps-area .steps li.js-active span:after {
    height: 86px;
}

.steps-area .steps li.last span:before,
.steps-area .steps li.last span:after {
    display: none;
}


.steps-area .steps li span:after {
    content: "";
    width: 2px;
    height: 0;
    background: #6b59d3;
    position: absolute;
    right: 18px;
    top: 40px;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.steps-area .steps li.current span {
    background: #6b59d3;
}

.steps-area .steps li.js-active span {
    background: #6b59d3;
}

.steps-area .steps li.current span:after {
    height: 50px;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
    border-radius: 6px;
}

// .imgHover {
//     position: absolute;
//     width: 500px;
//     height: 300px;
//     left: 0;
// }

.buttonOverlay {
    position: absolute;
    width: 500px;
    left: 0;
    top: 55px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}

.buttonOverlay button {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
}

.container:hover .buttonOverlay {
    opacity: 1;
}

.scrollContent {
    height: calc(100vh - 175px);
    overflow: auto;
}



.container:hover .overlay {
    display: block;
    background: rgba(4, 90, 219, 0.3);
}

.positionButton:hover .overlay {
    display: block;
    background: rgba(4, 90, 219, 0.3);
}

.container:hover .button {
    opacity: 1;
}

.buttonOnCard {
    position: absolute;
    width: 200px;

    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;

    left: 50%;
    cursor: pointer;
    top: 45%;
    transform: translate(-50%, 0)
}

.buttonOnCard-grid {
    position: absolute;
    width: 200px;
    left: 10;
    top: 80px;
    text-align: center;
    opacity: 1;
    transition: opacity .35s ease;
}

.buttonOnCard button {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
}

.container:hover .button {
    opacity: 1;
}

.positionButton {
    position: relative;
}

.cardHeight {
    max-height: 190px;
    border-radius: 10px;
}

.drawerWidth {
    min-width: 45rem !important;
}

.line-clamp--A {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.adjudtSku {
    margin-right: 200px;
}

.GridCard {
    max-height: 220px;
    border-radius: 10px;
}

.p-relative {
    position: relative;
}

fuse-card:hover .buttonOnCard {
    opacity: 1;
    cursor: pointer;
}

.positionButton:hover .buttonOnCard {
    opacity: 1;
    cursor: pointer;
}

.gray-border {
    border: 3px solid #e7e7e7;
}

.selected-card {
    border: 3px solid #06f;
}

.drawerSize {
    min-width: 45rem !important;
}

::ng-deep {
    app-questionnaires .select2-selection {
        height: 60px;
    }
}

.Description-Line-Clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.Title-Line-Clamp {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.receipt-image {
    max-width: 180px;
    max-height: 100%;
}

.maxHeight {
    max-height: 200px !important;
}

.RemoveBtn {
    position: absolute;
    border-radius: 15px;
    padding: 5px;
    z-index: 10;
    background-color: rgb(241, 236, 236);
}