/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
.success-snackbar {

    background-color: #32a852 !important;
    color: #fafffb !important;
}

.success-snackbar button {
    background-color: #32a852 !important;
    color: white !important;
    border: none !important;
}

.danger-snackbar {
    background-color: #c72835 !important;
    color: #fafffb !important;
}

.danger-snackbar button {
    background: color #c72835, i !important;
    color: white !important;
    border: none !important;
}

.warning-snackbar {
    background-color: #f2710f !important;
    color: #fafffb !important;
}

.warning-snackbar button {
    background: color #f2710f !important;
    color: white !important;
    border: none !important;
}

// .autocomplete-container {
//     box-shadow: none !important;
//     position: relative;
//     overflow: visible;
//     height: 40px !important;
// }

// .input-container {
//     font-size: 14px;
//     box-sizing: border-box;
//     border: none;
//     box-shadow: none !important;
//     outline: none;
//     background-color: #fff;
//     color: #000000de;
//     width: 100%;
//     line-height: 46px !important;
//     height: 40px !important;
// }

// .auto {
//     position: relative;
//     display: flex;
//     align-items: stretch;
//     min-height: 46px;
//     border-radius: 6px;
//     padding: 0 16px;
//     border-width: 1px;
//     --tw-border-opacity: 1 !important;
//     border-color: rgb(203 213 225 / var(--tw-border-opacity)) !important;
//     --tw-bg-opacity: 1 !important;
//     background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
//     --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05) !important;
//     --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color) !important;
//     box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
//         var(--tw-ring-shadow, 0 0 #0000),
//         var(--tw-shadow) !important;
// }

// .labelauto {
//     position: relative;
//     top: 0;
//     margin-top: 0;
//     -webkit-backface-visibility: hidden;
//     backface-visibility: hidden;
//     transition: none;
//     font-weight: 500;
//     --tw-text-opacity: 1 !important;
//     color: rgba(var(--fuse-text-default-rgb), var(--tw-text-opacity)) !important;
// }

// .mat-standard-chip .mat-chip-remove,
// .mat-standard-chip .mat-chip-trailing-icon {
//     width: 18px;
//     height: 32px !important;
//     cursor: pointer;
// }

// .autocomplete-container .input-container input {
//     background-image: url("../untitled\ \(4\).png") !important;
//     background-repeat: no-repeat !important;
//     background-position: 11px 11px !important;
//     padding: 3px 39px !important;
// }

// .line-clamp {
//     display: -webkit-box;
//     -webkit-line-clamp: 1;
//     -webkit-box-orient: vertical;
//     overflow: hidden;
// }

// .mat-standard-chip {
//     min-height: 20px !important;
// }

// .mat-paginator .mat-paginator-container {
//     padding: 0 16px !important;
// }

// .cdk-overlay-pane.mat-select-panel-wrap {
//     position: relative;
// }

// .mat-select-panel {
//     top: 45px !important;
//     position: absolute !important;
// }


.select2-selection {
    min-height: 48px !important;
    border-color: #c6d1de !important;
}


.select2-selection__rendered {
    line-height: 43px !important;
    padding-left: 18px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    margin-right: 10px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow:before {
    border-width: 5px 5px 0 !important;

}

.select2-search--dropdown .select2-search__field {
    padding: 8px !important;
    width: 100%;
    border-color: #cbd5e1 !important;
    box-sizing: border-box;
    border-radius: 8px !important;
}

.select2-container--default .select2-selection--single .select2-selection__reset {
    color: #dd7b3d !important;
    ;
    font-size: 20px !important;
    ;
}


.select2-selection__arrow :before {
    border-width: 5px 5px 0 !important;
}